@config "./tailwind.config.js";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Canted Comic';
    src: url('/Frontend/assets/fonts/CantedComic Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canted Comic';
    src: url('/Frontend/assets/fonts/CantedComic Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KaBlam';
    src: url('/Frontend/assets/fonts/Bangers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bg-pong {
    background-image: url('/Frontend/assets/PONG_ARENA.webp');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-ping {
    background-image: url('/Frontend/assets/PING_ARENA.webp');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    min-width: 320px;
}

.bg-paper {
    background-image: url('/Frontend/assets/BACKGROUND.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.player-bubble-left, .player-bubble-right {
    position: relative;
    display: inline-block;
    padding: 0px 30px 20px 30px;
    z-index: 1;
    text-align: center;
}

.player-bubble-left:before, .player-bubble-right:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 110%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.player-bubble-left:before {
    left: 0;
    background-image: url('/Frontend/assets/BUBBLE_LEFT.png');
}

.player-bubble-right:before {
    right: 0;
    background-image: url('/Frontend/assets/BUBBLE_RIGHT.png');
}

.ping-help {
    background-image: url('/Frontend/assets/RULES_PING.webp');
    position: absolute;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.ping-solo-help {
    background-image: url('/Frontend/assets/RULES_SOLO_PING.webp');
    position: absolute;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.bubble {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    z-index: 1;
    text-align: center;
}

.bubble:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 110%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    left: 0;
    background-image: url('/Frontend/assets/BUBBLE.png');
}

.arrow-up {
    background-image: url('/Frontend/assets/ARROW_UP.webp');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.arrow-down {
    background-image: url('/Frontend/assets/ARROW_DOWN.webp');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.arrow-clock {
    background-image: url('/Frontend/assets/ROTATE_CLOCKWISE.webp');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.arrow-cclock {
    background-image: url('/Frontend/assets/ROTATE_COUNTER.webp');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.swal2-title {
    font-family: 'Canted Comic';
    font-size: 24px;
    color: #333;
  }
  
  .swal2-html-container {
    font-family: 'Canted Comic';
    font-size: 18px;
    color: #555;
  }
  
  .swal2-confirm {
    font-family: 'Canted Comic';
    font-size: 16px;
    background-color: #3085d6;
    color: white;
  }