<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="/Frontend/assets/public/favicon.webp">
		<title>Dashboard</title>
		<%- include('links.ejs') %>
	</head>
	<body class=" bg-paper min-h-screen">
		<div id="content">
			<div class="pt-20 flex flex-row lg:flex-col items-center justify-center">
				<div id="container" class="flex items-center justify-center">
					<div class="absolute top-20 left-[10%] lg:left-[20%] xl:left-[25%]">
						<button
							onclick="display_dashboard_menu()"
							id="dropdownButton"
							type="button"
							class="px-4 py-2 bg-black text-white font-kablam md:text-2xl rounded-lg shadow-md
									hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-black
									focus:ring-opacity-75 transition duration-200">
							MODE ▼
						</button>
						<div id="dropdownMenu" class="absolute left-0 mt-2 w-48 bg-white border border-gray-300 rounded-lg shadow-lg hidden
							dark:bg-black dark:border-gray-700">
							<a onclick="display_canvas('general')" class="block px-4 py-2 text-white font-kablam md:text-2xl hover:bg-gray-100 dark:hover:bg-gray-700">GENERAL</a>
							<a onclick="display_canvas('pong')" class="block px-4 py-2 text-white font-kablam md:text-2xl hover:bg-gray-100 dark:hover:bg-gray-700">PONG</a>
							<a onclick="display_canvas('ping')" class="block px-4 py-2 text-white font-kablam md:text-2xl hover:bg-gray-100 dark:hover:bg-gray-700">PING</a>
							<a onclick="display_canvas('solo')" class="block px-4 py-2 text-white font-kablam md:text-2xl hover:bg-gray-100 dark:hover:bg-gray-700">LEADERBOARD SOLO</a>
							<a onclick="display_friend_menu()" id="friend-menu-button" class="block px-4 py-2 text-white font-kablam md:text-2xl hover:bg-gray-100 dark:hover:bg-gray-700">FRIENDS</a>
							<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
								<div id="friends-menu"
								class="hidden absolute left-1/2 sm:left-48 top-20 -translate-x-1/2 sm:-translate-x-0 border rounded-lg shadow-lg dark:border-gray-700 dark:bg-gray-800">
							</div>
							</div>
						</div>
					</div>
					<canvas id="general_stats" class="w-[320px] h-[320px] sm:w-[600px] sm:h-[600px]" width=600 height=600></canvas>
					<canvas id="pong_stats" class="w-[320px] h-[320px] sm:w-[600px] sm:h-[600px]" width=600 height=600></canvas>
					<canvas id="ping_stats" class="w-[320px] h-[427px] sm:w-[600px] sm:h-[800px]" width=600 height=800></canvas>
					<canvas id="ping_solo" class="w-[320px] h-[427px] sm:w-[600px] sm:h-[600px]" width=600 height=600></canvas>
				</div>
			</div>
		</div>
		<%- include('scripts.ejs') %>
	</body>
</html>