<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="/Frontend/assets/public/favicon.webp">
		<title>Home</title>
		<%- include('links.ejs') %>
	</head>
	<body class=" bg-paper">
		<div id="content">
		</div>
		<%- include('scripts.ejs') %>
	</body>
</html>