<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="/Frontend/assets/public/favicon.webp">
      <title>Pong Game</title>
      <%- include('links.ejs') %>
</head>
<body class=" bg-paper min-h-screen">
  <div id="content">
    <div class="pt-[10vh] lg:pt-[15vh] flex flex-col lg:flex-row items-center justify-center md:space-x-8 space-y-8">
      <div class="relative flex items-center justify-center w-[250px] h-[128px] sm:w-[359px] sm:h-[184px] lg:w-[597px] lg:h-[306px]">
        <div class="absolute bg-pong w-[250px] h-[128px] sm:w-[359px] sm:h-[184px] lg:w-[597px] lg:h-[306px]"></div>
        <canvas id="pong_animation" class="absolute top-[6px] left-[10px] sm:top-[8px] sm:left-[13px] lg:top-[14px] lg:left-[22px] w-[229px] h-[117px] sm:w-[330px] sm:h-[169px] lg:w-[550px] lg:h-[282px]"></canvas>
        <button onclick="navigateTo('waiting_room')"
                class="absolute top-2 sm:top-4 md:top-10 lg:top-20 left-1/2 transform -translate-x-1/2
                       bg-blue-700 hover:bg-blue-900 text-white text-sm lg:text-xl py-2 px-4 rounded font-kablam">
                      PLAY PONG  
        </button>
        <button onclick="navigateTo('pong_tournament')"
                class="absolute bottom-2 sm:bottom-4 md:bottom-10 lg:bottom-20 left-1/2 transform -translate-x-1/2
                       bg-red-600 hover:bg-red-800 text-white text-sm lg:text-xl py-2 px-4 rounded font-kablam">
                      PONG TOURNAMENT
        </button>
      </div>

      <div class="relative flex items-center justify-center w-[300px] h-[300px] sm:w-[350px] sm:h-[350px] lg:w-[400px] lg:h-[400px]">
        <div class="absolute bg-ping w-[300px] h-[300px] sm:w-[350px] sm:h-[350px] lg:w-[400px] lg:h-[400px]"></div>
        <canvas id="ping_animation" class="absolute inset-0 w-full h-full"></canvas>
          <button onclick="navigateTo('ping_waiting_room')"
                  class="absolute top-16 left-1/2 transform -translate-x-1/2
                         bg-blue-700 hover:bg-blue-900 text-white text-sm lg:text-xl py-2 px-4 rounded font-kablam">
                        PLAY PING
          </button>
          <button onclick="navigateTo('solo_ping')"
                  class="absolute justify-center left-1/2 transform -translate-x-1/2
                        bg-green-700 hover:bg-green-900 text-white text-sm lg:text-xl py-2 px-4 rounded font-kablam">
                        SOLO
          </button>
          <button onclick="navigateTo('ping_tournament')"
                  class="absolute bottom-20 left-1/2 transform -translate-x-1/2
                         bg-red-600 hover:bg-red-800 text-white text-sm lg:text-xl py-2 px-4 rounded font-kablam">
                        PING TOURNAMENT
          </button>
      </div>
  </div>
  </div>
  <%- include('scripts.ejs') %>
</body>
</html>